#imagelogfile 
{
      background-image: url("../public/inovaantage.jpg");
      background-repeat:no-repeat; 
      height:734.45px;
      width:99.99%;
      animation:animate infinite 30s;
      background-size:100%;
}
@keyframes animate {
    
      0% 
      {
      background-image: url("../public/inovaantage.jpg");
      background-repeat:no-repeat; 
      height:734.45px;
      width:99.99%; 
      background-size:100%;
      }
      50% 
      {
        background-image: url("../public/banner-2-1.jpg");
        background-repeat:no-repeat; 
        height:734.45px;
        width:99.99%; 
        background-size:100%;
      }
}